<div ng-app="listService" ng-controller="View1CtrlGets" class="container">
    <div class="line">
        <h4>List Karyawan</h4>
    </div>
    <div class="home">
        <button class="btn btn-info"><a href="#!/view2">Tambah</a> </button>
        
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="text-center">
                    <td><strong>No</strong></td>
                    <td><strong>Nama</strong></td>
                    <td><strong>Tanggal Lahir</strong></td>
                    <td><strong>Jabatan</strong></td>
                    <td><strong>NIP</strong></td>
                    <td><strong>Jenis Kelamin</strong></td>
                    <td><strong>Aksi</strong></td>
                </thead>
                <tr ng-repeat="data in value" ng-controller="deleteServiceCtrl" >
                    <td ng-model="id">{{data.id}}</td>
                    <td ng-model="name">{{data.name}}</td>
                    <td ng-model="birthDate">{{data.birthDate | date}}</td>
                    <td>{{data.positionId.name}}</td>
                    <td ng-model="idNumber">{{data.idNumber}}</td>
                    <td ng-model="gender" ng-If="data.gender==1">Pria</td>
                    <td ng-model="gender" ng-If="data.gender==2">Wanita</td>
                    <td class="text-center">
                        <div>
                            <button ><a href="#!/Edit/{{data.id}}"><img style="width: 20px; height: 20px;" src="https://img.icons8.com/ios/50/000000/edit.png"/></a></button>

                            <button ng-click="deletedata(data.id)"><img style="width: 20px; height: 20px;" src="https://img.icons8.com/ios/50/000000/delete.png"/></button>                            
                        </div>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
